.technologies{
   
    display:grid;
    grid-template-rows: repeat(4, 1fr);
    margin:0;
    padding:0;
    .tec1{
        object-fit:cover;
        width:100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .tec2{
        object-fit:cover;
        width:100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .tec3{
        object-fit:cover;
        width:100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .tec4{
        object-fit:cover;
        width:100%;
        grid-column-start: 1;
        grid-column-end: 2;
    }
}